:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --blue: #81B3D2;
  --deeper-blue: #669EC0;
  --deepest-blue: #5496BD;
  --brown: #766357;
  --deeper-brown: #604E43;
  --deepest-brown: #503E33;
  --dark-gray: #333333;
  --light-gray: #EEEEEE;
  --extra-light-gray: #F2F2F2;
  --gray: #666666;
  --beige: #E5E5E5;
  --dark-beige: #EBEBEB;
  --color-triangle: #CACACA;
  --toggle: #ABABAB;
}

.page {
  height: 100%;
}

body {
  width: 1200px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min min-content;
  align-content: start;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}


.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  margin-top: 14px;
  margin-bottom: 16px;
  padding: 0;
  box-sizing: border-box;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  background-color: transparent;
}

.site-navigation li:nth-child(1) {
  width: 300px;
  text-align: left;
  padding-left: 73px;
  box-sizing: border-box;
}

.site-navigation li:nth-child(2) {
  width: 300px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  width: 300px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  width: 300px;
  text-align: right;
  padding-right: 72px;
  box-sizing: border-box;
}

.site-navigation li:first-child {
  left: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation.current-page { /* Почему не поменялся цвет */
 color: var(--brown);
}

.main-header-logo img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 138px;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.container-background {
  min-height: 509px;
  background-image:
    url(img/background-decoration.png),
    url(img/background-main.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 1200px 57px, cover;
  background-color: var(--gray);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container-background img {
  padding-top: 77px;
  left: 0;
  right: 0;
  margin: auto;
}

.welcome {
  min-height: 216px;
}

.caption-main {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  margin: 0;
  padding-top: 41px;
  padding-left: 365px;
  padding-right: 365px;
  padding-bottom: 44px;
  box-sizing: border-box;
}

.caption-reasons {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
}

.line-1 {
  display: flex;
  padding: 0;
  margin: 0;
}

.line-1-position-1 {
  background-color: var(--blue);
  width: 400px;
  padding: 50px 49px;
  box-sizing: border-box;
}

.line-1-position-1 h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.line-1-position-1 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 23px;
  padding: 0;
  box-sizing: border-box;
}

.line-1-position-1 p:last-child {
  margin-bottom: 0;
}

.line-1-position-2 img {
  display: block;
  width: 800px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-item {
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  list-style: none;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 160px;
  padding-bottom: 82px;
  box-sizing: border-box;
}

.advantages-item img {
  margin-bottom: 28px;
}

.advantages-list h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  padding-bottom: 25px;
  position: relative;
}

.advantages-list p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--dark-gray);
  margin: 0;
  padding: 0;
}

.advantages-item-housing h4::before {
  content: url(img/icon-house.svg);
  width: 75px;
  height: 72px;
  box-sizing: border-box;
  position: absolute;
  bottom: 70px;
  left: 112px;
}

.advantages-item-food h4::before {
  content: url(img/icon-burger.svg);
  width: 75px;
  height: 70px;
  box-sizing: border-box;
  position: absolute;
  bottom: 70px;
  left: 112px;
}

.advantages-item-gifts h4::before {
  content: url(img/icon-gift.svg);
  width: 64px;
  height: 74px;
  box-sizing: border-box;
  position: absolute;
  bottom: 70px;
  left: 119px;
}



.line-3 {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

.line-3-position-1 img{
  width: 800px;
  display: block;
}

.line-3-position-2 {
  background-color: var(--blue);
  padding: 50px 50px;
  width: 400px;
  box-sizing: border-box;
}

.line-3-position-2 h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.line-3-position-2 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.line-3-position-2 p:last-child {
  margin-bottom: 0;
}

.line-4-features {
  display: flex;
  margin: 0;
  padding: 0;
}

.line-4-features li{
  background-color: var(--light-gray);
  padding: 50px 50px;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  width: 400px;
}

.line-4-features-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 25px;
}

.line-4-features-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--dark-gray);
  padding-bottom: 23px;
  margin: 0;
  box-sizing: border-box;
}

.line-4-features-item p:last-child {
  padding-bottom: 0;
}

.traveling-form {
  min-height: 291px;
}

.traveling-form-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 33px;
  padding-right: 10px;
  margin: 0;
}

.traveling-form-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-gray);
  background-color: transparent;
  text-align: center;
  padding-bottom: 45px;
  margin: 0;
}

.button-find-hotel {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--brown);
  width: 568px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 32px;
  box-sizing: border-box;
  margin: 0 auto;
}

.button-find-hotel:hover,
.button-find-hotel:focus {
  background-color: var(--deeper-brown);
}

.button-find-hotel:active {
  background-color: var(--deepest-brown);
  opacity: 0.3;
}
.container-traveling-form img {
  display: block ;
}

.modal label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  margin-right: 24px;
  width: 112px;
  box-sizing: border-box;
}

.button-find {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--blue);
}

.button-find:hover,
.button-find:focus {
  background-color: var(--deeper-blue);
}

.button-find:active {
  background-color: var(--deepest-blue);
  opacity: 0.3;
}

.contacts {
  height: 61px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 36px;
}

.contacts p {
margin-bottom: 9px;
margin-top: 0;
box-sizing: border-box;
}

.contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

.copyright p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
}

.copyright-logo {
  margin-left: 15px;
}

.copyright-logo path {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.copyright-logo:hover path,
.copyright-logo:focus path {
  fill: var(--blue);
  filter: none;
}

.copyright-logo:active path {
  fill: var(--dark-beige);
  filter: none;
}

.parameters {
  background: url("img/background-catalog.jpg") no-repeat top center;
  background-size: 1200px 217px;
  background-position: 0 0;
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  min-height: 217px;
}

.parameters-item {
  margin-top: 26px;
  margin-left: 72px;
  margin-bottom: 7px;
  padding: 0;
  box-sizing: border-box;
}

.parameters-item p {
  margin: 0;
  padding-bottom: 25px;
}

.parameters h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  text-align: left;
  padding-bottom: 24px;
  margin: 0;
}

.parameters h3:nth-child(3) {
  padding-bottom: 10px;
  align-self: flex-start;
}

.parameters label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  padding-bottom: 25px;
  padding-left: 40px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.filter-parameter + label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  top: -2px;
  left: -1px;
  box-sizing: border-box;
}

.filter-parameter:checked + label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: -2px;
  left: -1px;
  border: none;
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}


.button-show {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  display: inline-block;
  width: 137px;
  height: 36px;
  align-self: center;
  cursor: pointer;
  margin-top: 55px;
}

.button-show:hover,
.button-show:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  background-color: transparent;
  margin-left: 46px;
}

.sorting-item a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: transparent;
  text-decoration: underline dotted var(--blue);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--blue);
  text-decoration: underline dotted var(--blue);
}

.sorting-item a:active {
  color: var(--basic-black);
}

.sorting-item .current-sorting {
  color: var(--blue);
  border-bottom: none;
}

.hotels-list{
  padding: 0;
  margin: 0;
}

.hotels-list li {
  border-top: 1px solid var(--beige);
  border-bottom: 1px solid var(--beige);
}

.hotels-list a {
 text-decoration: none;
}

.hotels-item  a {
  text-decoration: none;
}

.hotel-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: left;
  padding: 0;
  margin-bottom: 7px;
}

.column-info h3 {
  margin-top: 0;
}

.hotel-name:hover,
.hotel-name:focus {
  color: var(--blue);
}

.hotel-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.column-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
}

.column-price p{
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: left;
  width: 115px;
}

.button-rating {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--gray);
  background-color: var(--extra-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 27px;
}

.button-details {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--blue);
  text-align: center;
  display: block;
  width: 110px;
  padding: 3px 17px;
  box-sizing: border-box;
  align-self: center;
  cursor: pointer;
}

.button-details:hover,
.button-details:focus {
  color: var(--basic-white);
  background-color: var(--deeper-blue);
}

.button-details:active {
  color: var(--basic-white);
  background-color: var(--deepest-blue);
  opacity: 0.3;
}

.button-book {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--brown);
  text-align: center;
  display: block;
  width: 142px;
  padding: 3px 17px;
  box-sizing: border-box;
  align-self: center;
  cursor: pointer;
}

.button-book:hover,
.button-book:focus {
  color: var(--basic-white);
  background-color: var(--deeper-brown);
}

.button-book:active {
  color: var(--basic-white);
  background-color: var(--deepest-brown);
  opacity: 0.3;
}

.main-footer-wrapper-map {
  width: 1200px;
  height: 594px;
  background-image: url(img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-footer-wrapper {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  width: 933px;
  padding-left: 136px;
  padding-right: 131px;
  margin: 0;
}

.main-footer-catalog {
  background-color: var(--basic-white);
}

.socials-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
  padding: 0;
  margin: 36px 0;
  list-style: none;
}

.button-socials {
  width: 48px;
  height: 48px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-socials:hover,
.button-socials:focus {
  background-color: var(--deeper-blue);
}

.button-socials:active {
  background-color: var(--deepest-blue);
  opacity: 0.3;
}


.copyright {
  display: flex;
  justify-self: center;
  align-items: center;
}


.container-parameters {
  height: 217px;
  padding: 0;
  margin: 0;
}

.sorting {
  display: flex;
  width: 1200;
  height: 86px;
  padding: 0;
  align-items: center;
  position: relative;
}

.sorting-list {
  display: flex;
  width: 740px;
  justify-content: flex-start;
  margin-left: 40px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.sorting-list li {
  padding-right: 32px;
}

.sorting-list li:last-child {
  padding-right: 0;
}


.icon-up {
  right: 170px;
  padding-right: 12px;
}

.icon-down {
  right: 145px;
}

.icon-up path,
.icon-down path {
  fill: var(--color-triangle);
}

.icon-up path:hover,
.icon-up path:focus,
.icon-down path:hover,
.icon-down path:focus {
  fill: var(--basic-black);
}

.icon-up path:active,
.icon-down path:active {
  fill: var(--blue);
}


.sorting-list::after:hover,
.sorting-list::after:focus {
  border: var(--basic-black);  /* Не работает цвет */
}

.sorting-list::after:active {
  border: var(--blue);  /* Не работает цвет */
}

.modal-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  position: relative;
}

.booking-date-in {
  margin-top: 55px;
  text-align: center;
  display: flex;
  width: 458px;
  align-items: center;
}

.booking-date-out {
  margin-top: 29px;
  text-align: center;
  display: flex;
  width: 458px;
  align-items: center;
}

.booking-date-in input,
.booking-date-out input {
  width: 346px;
  height: 38px;
  font-weight: bold;
  background-color: var(--extra-light-gray);
  border: none;
  padding-right: 218px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
  position: relative;
}

.adults input,
.children input {
  width: 114px;
  height: 38px;
  font-weight: bold;
  background-color: var(--extra-light-gray);
  border: none;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  position: relative;
}

.icon-minus,
.icon-plus {
  position: absolute;

}

.icon-minus path:hover,
.icon-minus path:focus,
.icon-plus path:hover,
.icon-plus path:focus {
  fill: var(--basic-black);
}

.icon-minus path:active,
.icon-plus path:active {
  fill: var(--blue);
}



.icon-minus-adults {
  left: 176px;
  bottom: 187px;
}

.icon-minus-children {
  left: 408px;
  bottom: 187px;
}

.icon-plus-adults {
  left: 251px;
  bottom: 183px;
}

.icon-plus-children {
  left: 482px;
  bottom: 183px;
}


.number-of-people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-right: 8px;
}

.adults label {
  margin-right: 40px;
}

.children label {
  margin-right: 25px;
}

.icon-calendar {
  position: absolute;
  right: 70px;
}

.icon-calendar:hover path,
.icon-calendar:focus path {
  fill: var(--basic-black);
}

.icon-calendar:active path {
  fill: var(--blue);
}

.booking-date-in input:hover,
.booking-date-in input:focus,
.booking-date-out input:hover,
.booking-date-out input:focus {
  background-color: var(--dark-beige);
}

.booking-date-in input:active,
.booking-date-out input:active {
  background-color: var(--basic-white);
  border: 2px solid var(--beige);
}

.button-find {
  margin-top: 54px;
  width: 458px;
  height: 58px;
  text-transform: uppercase;
  border: none;
}

.hotels-item {
  width: 1200px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.column-image {
  size: 135px 90px;
  display: flex;
  align-items: center;
  margin-left: 73px;
  padding: 0;
}

.column-info {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  margin-top: 24px;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 900px;
}

.column-rating {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 130px;
  margin-right: 71px;
  align-items: flex-end;

}

.column-book {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  left: 0;
  width: 258px;
}

.sorting-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin-left: 73px;
  margin-top: 29px;
  margin-bottom: 31px;
  color: var(--basic-black);
}

.slider {
  width: 316px;
  height: 2px;
  opacity: 0.3;
  background: var(--basic-white);
}

.parameters-item-price {
  width: 317px;
  padding: 0;
  margin-left: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Почему не сработало? */
  position: relative;
}

.price {
  display: flex;
  justify-content: space-between;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  align-items: center;
  box-sizing: border-box;
}

.price input {
  width: 90px;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  position: relative;
}


.min-price input::after {
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  position: absolute;
}



.range-slider .scale {
  width: 316px;
  height: 2px;
  background-color: var(--basic-white);
  opacity: 0.3;
  margin-top: 20px;
}

.range-slider .bar {
  height: 2px;
  background-color: var(--basic-white);
  opacity: 1;
  width: 70%;
  position: relative;
}

.toggle {
  width: 4px;
  height: 4px;
  background-color: var(--toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggler);
  position: absolute;
}

.toggle-min {
  left: 0px;
  top: 92px;
}

.toggle-max {
  left: 221px;
  top: 92px;
}
