:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --blue: #81B3D2;
  --deeper-blue: #669EC0;
  --deepest-blue: #5496BD;
  --brown: #766357;
  --deeper-brown: #604E43;
  --deepest-brown: #503E33;
  --dark-gray: #333333;
  --light-gray: #EEEEEE;
  --extra-light-gray: #F2F2F2;
  --gray: #666666;
  --beige: #E5E5E5;
}

.page {
  height: 100%;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min min-content;
  align-content: start;
}

.hidden {
  display: none;
}

.site-navigation {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-decoration: none;
  list-style: none;
  margin: 0;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a .current-page {
 color: var(--brown);
}

.main-header-logo {
  position: absolute;
  text-align: center;
  padding-left: 600px;
  margin: 0;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.container-background {
  background: url(img/background-main.jpg) var(--gray) no-repeat scroll;
  background-size: cover;
  height: 509px;
  text-align: center;
  padding-top: 74px;
}


.caption-main {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
}

.caption-reasons {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
}

.line-1 {
  display: grid;
  grid-template-columns: 400px 800px;
  align-content: start;
  padding: 0;
  margin: 0;
}

.line-1-position-1 {
  background-color: var(--blue);
  padding: 50px 50px;
  border: 5px solid red;
}

.line-1-position-1 h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.line-1-position-1 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  padding-top: 25px;
}

.line-1-position-2 {
  border: 5px solid green; /* Картинка немного недоходит до края ячейки*/
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px; /* Почему то саму ячейку показывает больще, чем должно быть*/
  align-content: start;
  margin: 0;
  padding: 0;

  border: 5px solid brown;
}

.advantages-item {
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  list-style: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 160px;
  padding-bottom: 80px;
  box-sizing: border-box;

  border: 5px solid yellowgreen;
}

.advantages-list h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  padding-bottom: 25px;
}

.advantages-list p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--dark-gray);
  margin: 0;
  padding: 0;
}

.line-3 {
  display: grid;
  grid-template-columns: 800px 400px;
  align-content: start;
  text-align: center;
  margin: 0;
  padding: 0;
}

.line-3-position-1 {
  border: 5px solid green; /* Картинка немного недоходит до края ячейки*/
}

.line-3-position-2 {
  background-color: var(--blue);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

  border: 5px solid red;
}

.line-3-position-2 h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
}

.line-3-position-2 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  padding-top: 25px;
}

.line-4-features {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  align-content: start;
  margin: 0;
  padding: 0;
}

.line-4-features li{
  background-color: var(--light-gray);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  list-style: none;
  text-align: center;
  box-sizing: border-box;

  border: 5px solid orangered;
}

.line-4-features-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-black);
}

.line-4-features-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--dark-gray);
}





.traveling-form-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  padding-top: 60px;;
}

.traveling-form-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-gray);
  background-color: transparent;
  text-align: center;
  padding-bottom: 25px;
}

.button-find-hotel {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--brown);
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; /* Не получается кнопку сделать посередине*/
}

.button-find-hotel:hover,
.button-find-hotel:focus {
  background-color: var(--deeper-brown);
}

.button-find-hotel:active {
  background-color: var(--deepest-brown);
  opacity: 0.3;
}
container-traveling-form img {
  padding: 0;
}

.modal label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
}

.button-find {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--blue);
}
.button-find:hover,
.button-find:focus {
  background-color: var(--deeper-blue);
}

.button-find:active {
  background-color: var(--deepest-blue);
  opacity: 0.3;
}

.contacts p,
.contacts a {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
}

.copyright p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
}

/* Размера фотовой картинки не хватает, но я думаю, что мы потом блоки переметим и все ок будет */
.parameters {
  background: url("img/background-catalog.jpg") no-repeat top center;
  background-size: cover;
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.parameters-item {
  padding-top: 12px;
  padding-left: 70px;
  padding-bottom: 32px;
  border: 5px solid tomato;
}

.parameters h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  text-align: left;
 }

.parameters label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  text-align: left;
}

 /* Не получается сделать прозрачную кнопку */
 .button-show{
  border: 2px solid var(--basic-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
  text-align: left;
 }

 .sorting-list {
  list-style-type: none;
 }

 .sorting-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);;
  background-color: transparent;
 }

 .sorting-item a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: transparent;
  text-decoration: none;
  border-bottom: dotted var(--blue); /* Это можно было сделать по-другому? */
 }

 .sorting-item a:hover,
 .sorting-item a:focus {
  color: var(--blue);
  border-bottom: dotted var(--blue);
 }

.sorting-item a:active { /* Как сделать этотй кнопке, чтобы она всегда была без подчеркивания? */
  color: var(--basic-black);
 }

 .sorting-item .current-sorting {
   color: var(--blue);
   border-bottom: none;
 }

 .hotels-list li {
   border-top: 1px solid var(--beige);
   border-bottom: 1px solid var(--beige);
 }

 .hotels-item  a {
  text-decoration: none;
  height: 150px;
}

 .hotels-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: left;
  text-decoration: none; /* Не смогла убрать окрашивание ссылки */
 }

 .hotels-item h3:hover,
 .hotels-item h3:focus {
   color: var(--blue);
 }

 .hotels-item h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.button-rating {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--gray);
  background-color: var(--extra-light-gray);
  text-align: center;
}

 .button-details {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--blue);
  text-align: center;
 }

 .button-details:hover,
 .button-details:focus {
  color: var(--basic-white);
  background-color: var(--deeper-blue);
 }

 .button-details:active {
  color: var(--basic-white);
  background-color: var(--deepest-blue);
  opacity: 0.3;
 }

 .button-book {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--brown);
  text-align: center;
 }

 .button-book:hover,
 .button-book:focus {
  color: var(--basic-white);
  background-color: var(--deeper-brown);
 }

 .button-book:active {
  color: var(--basic-white);
  background-color: var(--deepest-brown);
  opacity: 0.3;
 }

 .main-header {
   border: 5px solid red;
 }

 .container {
  border: 5px solid blueviolet;
}

.main-footer {
  border: 5px solid greenyellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
}

.contacts {
  border: 5px solid palevioletred;
  justify-self: center;
  width: 327;
  margin-top: 23;
  margin-bottom: 36;
}

 .socials {
  border: 5px solid fuchsia;
  justify-self: center;
  width: 327;
  margin-top: 36;
  margin-bottom: 36;
}

.copyright {
  border: 5px solid skyblue;
  justify-self: center;
  width: 327;
  margin-top: 43;
  margin-bottom: 44;
}


.container-parameters {
  border: 5px solid blue;
  height: 217px;
  padding: 0;
  margin: 0;
}

.container-sorting {
  border: 5px solid greenyellow;
}

.hotels-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

